input[type=text], input[type=password], input[type=file], select{
    padding: 8px 10px;
    border: solid 2px rgba(128, 128, 128, 0.6);
    border-radius: 5px;
    width: 20vw;
    transition: 0.1s;
    font-size: 16px;
    background-color: transparent;
    position: relative;
}
input[type=text]:focus, input[type=password]:focus, input[type=file]:focus, select:focus{
    border-color: #4CAF50;
}

textarea{
    padding: 8px 10px;
    border: solid 2px rgba(128, 128, 128, 0.6);
    border-radius: 5px;
    min-height: 50px;
    max-height: 500px;
    transition: 0.1s;
    font-size: 16px;
    background-color: transparent;
    position: relative;
}
textarea:focus{
    border-color: #4CAF50;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius:8px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.2s;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
  }
  
  .button1 {
    background-color: transparent; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }





@media only screen and (max-width:768px){
    
    input[type=text], input[type=password], input[type=file], select{
        padding: 10px;
        border: solid 2px rgba(128, 128, 128, 0.6);
        border-radius: 5px;
        width: 100%;
        transition: 0.1s;
        font-size: 15px;
        background-color: transparent;
    }
}